@import "palette.css";

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama&display=swap');