#inventory-page {
  margin-top: 3em;
  display: flex;
}

#inventory-page #inventory-lists {
  display: flex;
}

@media (max-width: 800px) {
  #inventory-page {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #inventory-lists {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
