#overview-card {
  display: flex;
}
@media (max-width: 800px) {
  #overview-card {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

/* #overview-page .graph-wrapper {
  max-height: 30em;
} */
